*{
    margin: 0px;
    padding: 0px;
}
div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgba(255, 0, 0, 0.5);
    margin: 10px;
    color: white;
    padding: 10px;
}
#ingles{
    background: blueviolet;
   
}
#rgb{
    background: rgb(37 168 234);
   
}
#rgb2{
    background: rgb(3 6 165);
   
}
#rgb3{
    background:rgba(96 212 8 0.5);
   
}
#exa{
   background: #ff0090;
}
#exa{
    background: #DD6;
 }
#gradi{
    background: purple;
 }
#deg{
    background: orange;
 }
#radial{
    background: yellow;
 }