*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.container{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background: red;
    padding: 5px;
    border: 2px solid black;
    display: flex;
}
div{
    width: 30px;
    height: 30px;
    background: blue;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
.container2{
    width: 300px;
    height: 300px;
    margin: 200px auto;
    background: red;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.container3{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background: red;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.container4{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background: red;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.container5{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background: red;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.f6{
    flex-wrap: nowrap;
}
.f7{
    flex-wrap: wrap;
}
.f8{
    justify-content: center;
}
.f9{
    justify-content: flex-start;
}
.f10{
    justify-content: flex-end;
}
.f11{
    justify-content: space-around;
}
.f12{
    justify-content: space-between;
}
.f13{
    justify-content: center;
}
.f14{
    justify-content: flex-start;
}
.f15{
    justify-content: flex-end;
}
.f16{
    justify-content: stretch;
}
.f17{
    justify-content: baseline;
}
.f18{
    justify-content: center;
    align-items: center;
}